<div class="container-fluid py-5">
    <div class="card" style="width: 600px; margin: auto;">
        <div class="card-header bg-primary text-white">
            <h4 class="text-uppercase text-center">Log-In/Sign-In</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="login" (submit)="senddata()">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12">

                        <label>Enter Your E-mail Id:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <input [ngClass]="{'outbox': (!login.get('email').valid && login.get('email').dirty)}"
                                type="email" class="form-control" formControlName="email">
                            <br>
                            <span *ngIf="(!login.get('password').valid && login.get('password').dirty)"
                                style="color: red;">Please
                                Enter Your Email Id</span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12">

                        <label>Enter New Password:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <input [ngClass]="{'outbox': (!login.get('password').valid && login.get('password').dirty)}"
                                type="password" class="form-control" formControlName="password">
                            <br>
                            <span *ngIf="(!login.get('password').valid && login.get('password').dirty)"
                                style="color: red;">Please
                                Enter A New Password</span>
                        </div>

                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-12 col-md-12 col-xs-12">

                        <label>Confirm Password:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <input
                                [ngClass]="{'outbox': (!login.get('confirmpassword').valid && login.get('confirmpassword').dirty)}"
                                type="password" class="form-control" formControlName="confirmpassword">
                            <br>
                            <span *ngIf="(!login.get('confirmpassword').valid && login.get('confirmpassword').dirty)"
                                style="color: red;">Please
                                Confirm A New Password</span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <!--<div class="col-sm-5 col-md-5 col-xs-5 mt-4">
                        <a class="text-primary" (click)="reset()">Forget Password?</a>
                    </div>-->
                    <div class="col-sm-5 col-md-5 col-xs-5">
                        <input [disabled]="!login.valid ? true: false" type="submit"
                            class="btn btn-outline-primary rounded-0 float-right mt-4" value="Log-in">

                    </div>
                </div>
                <!--<button type="button" class="btn btn-outline-primary rounded-0 float-right">Register</button>-->
            </form>
        </div>
    </div>
</div>